.containerImg{
    background-color: #232323bf;
    color: white ;
    width: 18pc;
    height: 10pc;
    text-align: center;
    display: block;
    transition: all 0.6s ease;
    background-size: 22pc;
    background-blend-mode: multiply;
}
.containerShow{
    padding: 1pc;
    padding-top: 1pc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1pc;
}
.containerImg:hover{
    background-size: 23pc;
} 
@media screen and (max-width:1050px) {
    .containerShow{
        grid-template-columns: repeat(3, 1fr);
    }
    .notData{
    grid-column: 3/2;

    }
}
@media screen and (max-width:950px) {
    .containerShow{
        grid-template-columns: repeat(2, 1fr);
    }
    .notData{
        grid-column: 4;
    
        }
}
@media screen and (max-width:650px) {
    .containerShow{
        grid-template-columns: repeat(1, 1fr);
    }
    
}