.image {
  width: 2pc;
}
.label {
  display: flex;
  align-items: center;
  gap: 6px;
}
.containerFormAdd {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1pc;
  height: 86vh;
}
.custom-toast {
  background-color: red;
}
.confor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1pc;
  gap: 1pc;
  width: 20pc;
}
.condep {
  display: flex;
  flex-direction: column;
  padding: 1pc;
  gap: 1pc;
  width: 20pc;
}
.buttonsutmi {
  padding: 0.4pc;
  border-radius: 10px;
  background: white;
}
.formFb {
  /* width: 100%;  */
  display: flex;
  flex-direction: column;
  width: 21pc;
  padding: 1pc;
  gap: 1pc;
  /* border: 1px solid; */
  align-items: center;
}
.centrar {
  display: flex;
  align-items: center;
  gap: 1pc;
}

/* Update */

.input-file {
  display: inline-block;
}

.input-file input[type="file"] {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.input-file-label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.input-file-label:hover {
  background-color: #e0e0e0;
}

::-webkit-scrollbar {
  width: 0.3pc;
  height: 0.3pc;
}
::-webkit-scrollbar-thumb {
  background-color: #232323;
}
